<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="{{variable.description}}" />
  <meta property="og:url" content="http://cympfh.cc/taglibro">
  <meta property="og:title" content="{{{title}}}" />
  <meta property="og:description" content="{{variable.description}}" />
  <meta property="og:image" content="http://cympfh.cc/resources/img/identicon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@cympfh" />
  <meta name="generator" content="unidoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{{title}}}</title>
  <style type="text/css">
      code{white-space: pre-wrap;}
  </style>
  <link rel="stylesheet" href="../../resources/css/c.css" />
  <link rel="stylesheet" href="../../../resources/css/c.css" />
  <link rel="stylesheet" href="../../../resources/css/youtube.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link href="https://unpkg.com/prismjs@1.x.0/themes/prism.css" rel="stylesheet" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  <div class="taglibro">
    <header class="page-header"><a href='../../index.html'><i class="fas fa-fast-backward"></i></a></header>
{{{body}}}
    <footer>
      <p class="is-pulled-right">@cympfh / cympfh@gmail.com</p>
    </footer>
  </div>
  <script src="../../../resources/js/youtube.js"></script>
  <script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
  <script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="../../../resources/js/toc.js"></script>
</body>
</html>
